/* About Page */
#main {
  max-width: 100%;
}

#about--hr {
  width: 50%;
  margin-top: 2rem;
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: medium double var(--heading-black);
  color: var(--heading-black);
  text-align: center;
}

#about--hr--symbol {
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 2em;
  padding: 0 0.25em;
  border: none;
  border-radius: 0;
}

.about h1 {
  width: 100%;
  padding: 10.5rem 0;
  background-image: url('../img/about/hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-stretch: condensed;
  color: var(--vivid-white);
}

h1 img {
  width: 18%;
  background-color: hsla(0, 0%, 100%, .4);
  padding: 5px;
  border: 0px;
  border-radius: 5px;
}

h1, h2 {
  font-family: 'Lora', serif;
}

h3 {
  margin-bottom: 1rem;
  font-size: inherit;
}

.about__story {
  padding: 0 20% 3.75rem 20%;
}

.about__story p {
  padding-bottom: 2rem;
  font-size: inherit;
  line-height: 1.8;
}

.about__story span {
  font-size: 3rem;
  font-weight: 700;
  border: 3px solid var(--high-blue);
  border-radius: 5px;
  padding: 0 10px;
  margin-right: 5px;
  color: var(--pompeian-pink);
}

/* Points List */

.about__points {
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 5.75rem;
  background-color: var(--light-grey);
}

.about__points--list {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  grid-gap: 1.5rem 2rem;
}

.about__points--list__item {
  display: inline-block;
  margin: 2rem 1rem;
}

.icon-stack > div {
  position: absolute;
  top: 15%;
  left: 20%;
  transform: translate(-50%, -50%);
}

#fa-cogs--position {
  left: -30%;
  bottom: 50%;
}

#fa-paint-brush--position {
  top: 20%;
  left: 25%;
}

#fa-calendar-check--position {
  top: 40%;
  left: 60%;
}

.about__points--list--caption h3 {
  margin-top: 1rem;
}

.about__points--list--caption p {
  font-size: 0.875rem;
  line-height: 2;
  color: var(--highlight-gray);
}

/* Local Craft */
.about__localcraft {
  background-color: var(--vivid-white);
  padding-right: 3.75rem;
}

.about__localcraft--list {
  display: flex;
}

.about__localcraft--list__imgblock {
  float: left;
  width: 50%;
}

.imgblock--img {
  width: 100%;
  padding: 14.5rem 7.5rem;
  background-image: url('../img/about/localcraft.PNG');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.about__localcraft--list__text {
  float: right;
  text-align: left;
  justify-items: start;
  margin-left: 18.5rem;
  margin-top: 10.5rem;
}

.about__localcraft--list__text p {
  line-height: 1.5;
  margin-top: 1.2rem;
  color: var(--highlight-gray);
}

.about__localcraft--list:after {
  content: "";
  display: table;
  clear: both;
}

/* Quote */

.about__quote {
  background-color: var(--pompeian-pink);
  width: 100%;
  padding: 3.75rem 0;
  margin-top: 3.75rem;
  margin-bottom: 6.75rem;
}

.about__quote blockquote {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.about__quote blockquote p {
  font-size: 3rem;
  line-height: 1.5;
  font-family: 'SabonMTStd', serif;
  color: var(--vivid-white);
}

#lindawright {
  text-align: center;
  font-size: 1.5rem;
  margin: 2rem 0;
  padding-top: 2rem;
}

/* The Team */

.about__team {
  width: 100%;
  margin: 6.75rem 0;
}

.about__team h2 {
  font-size: 2rem;
  margin-bottom: 3.75rem;
}

.about__team__members {
  display: grid;
  grid-template-areas: 'frances frances linda linda'
                       'christopher johnnie riley george';
  grid-gap: 45px 10px;
  margin-bottom: 5.75rem;
}

#frances {
  grid-area: frances;
}

#frances img {
  width: 500px;
}

#linda {
  grid-area: linda;
  position: relative;
  padding-right: 10.5rem;
}

#linda img {
  width: 300px;
}

#linda .about__team__members__text {
  position: absolute;
  top: 40%;
  left: 65%;
}

#christopher {
  grid-area: christopher;

}

#johnnie {
  grid-area: johnnie;

}

#riley {
  grid-area: riley;

}

#george {
  grid-area: george;

}

.about__team__members--list {
  padding: 1rem;
}

.about__team__members--list__imgblock img {
  width: 250px;
}

.about__team__members__text h3 {
  margin-top: 1rem;
}


.about__team__designers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0;
  background-color: var(--pure-white);
  padding: 2.5rem 0;
}

.about__team__designers--list__imgblock {
  width: 50%;
  padding: 55% 5.25rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
}

#warhol {
  background-image: url('../img/about/ian_warhol.jpg');
}

#phoebe {
  background-image: url('../img/about/phoebe_cummings.PNG');
}

#nelly {
  background-image: url('../img/about/nelly_tilbury.jpeg');
}

#ren {
  background-image: url('../img/about/ren_london.PNG');
}

.about__team__designers--mask {
  opacity: 0;
  background: rgba(0, 0, 0, .4);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top:0;
  z-index: -100;
  transition: opacity .2s linear;
}

.about__team__designers__text h3 {
  position: absolute;
  top: 50%;
  left: 30%;
  text-align: center;
  color: var(--vivid-white);
  text-transform: uppercase;
  font-weight: 400;
  transition: .5s linear;
}

#phoebe h3 {
  left: 23%;
}

#nelly h3 {
  left: 28%;
}

.about__team__designers__text h4 {
  position: absolute;
  top: 60%;
  left: 23.5%;
  text-align: center;
  letter-spacing: 0.2em;
  color: var(--vivid-white);
  transition: .2s;
}

#warhol h4 {
  left: 21%;
}

.about__team__designers--list:hover .about__team__designers--mask {
  z-index: 200;
  opacity: 1;
}

.about__team__designers--list:hover .about__team__designers__text > h3 {
  transform: scale(1.1);
  letter-spacing: 0.05em;
}

/* Join */

.join {
  display: grid;
  justify-items: center;
  padding: 1.5rem;
  margin-bottom: 6.75rem;
}

@media only screen and (max-width: 735px) {
  .about h1 {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 490px) {
  .about h1 {
    font-size: 4rem;
  }

  .about h3 {
    font-size: 1.25rem;
  }

  .about p {
    font-size: 1rem;
  }
}
