#main {
  text-align: left;
  justify-items: auto;
}

.jobs {
  padding: 3.75rem 7.75rem 7.5625rem 7.75rem;
}

.jobs h3 {
  margin-bottom: 1rem;
  font-size: inherit;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 2fr) 1fr .5fr;
  align-items: flex-end;
  margin-bottom: 3.125rem;
}

#main form .button {
  width: 75px;
  padding: 0.875rem 0;
  margin-left: 0.75rem;
  margin-bottom: 2rem;
}

.job-list {
  border-top: solid 1px hsla(0, 0%, 59%, 1);
}

.job {
  border-bottom: solid 1px hsla(0, 0%, 59%, 1);
  padding: 1rem 0;
}

.job h4 {
  padding-bottom: .5rem;
  font-size: inherit;
  line-height: 1.2;
}

#see-all-jobs {
  justify-self: center;
  margin-top: 3.6875rem;
}
